<h1>Enter a number</h1>

<form action="/coin_combo">
  <div class="form-group">
    <label for="cents"> Enter amount of cents</label>
    <input id="cents" name="cents" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-caution"> Make that change</button>
</form>
